<div *ngFor="let character of characters | async">
  <div> {{ character.name }}</div>
  <div> {{ character.gender }}</div>
  <div> {{ character.culture }}</div>
  <div> {{ character.born }}</div>
  <div> {{ character.died }}</div>
  <div> {{ character.titles }}</div>
  <div> {{ character.aliases }}</div>
  <div> {{ character.father }}</div>
  <div> {{ character.mother }}</div>
  <div> {{ character.spouse }}</div>
  <div> {{ character.allegiances }}</div>
  <div> {{ character.books }}</div>
  <div> {{ character.povBooks }}</div>
  <div> {{ character.tvSeries }}</div>
  <div> {{ character.playedBy }}</div>
</div>

